setuptools
agentlib_mpc[full, fmu, interactive] @ git+https://github.com/RWTH-EBC/AgentLib-MPC.git@main
pycombina @ git+https://github.com/adbuerger/pycombina.gitpathlib
astor==0.8.1
black
pre-commit
sphinx>=6.1.3
m2r2
myst-parser
autodoc_pydantic>=1.8.0
sphinx-material