setuptools
agentlib[full]==0.8.7
agentlib_mpc[fmu, interactive] @ git+https://github.com/RWTH-EBC/AgentLib-MPC.git
pathlib
astor==0.8.1
black
pre-commit

# Building the docs
sphinx>=6.1.3
m2r2>=0.3.3.post2
autodoc_pydantic>=1.8.0
sphinx-material