agentlib[full]==0.8.2
agentlib_mpc[full] @ git+https://git-ce.rwth-aachen.de/ebc/projects/ebc_acs0017_bmwi_agent/agents_python/agentlib_mpc.git@732d84ce601c590fe6645419345f339c62237579#egg=agentlib_mpc
pathlib
